[images]
  remote_images = [
    "https://source.unsplash.com/.*",
    "https://images.unsplash.com/.*",
    "https://ext.same-assets.com/.*",
    "https://ugc.same-assets.com/.*",
    "https://catamaranguru.com/.*",
  ]

[build]
  command = "bun run build"

[build.environment]
  NODE_VERSION = "20"
  NEXT_DISABLE_TELEMETRY = "1"
