[images]
  remote_images = [
    "https://source.unsplash.com/.*",
    "https://images.unsplash.com/.*",
    "https://ext.same-assets.com/.*",
    "https://ugc.same-assets.com/.*",
    "https://catamaranguru.com/.*",
  ]

[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"
  NEXT_DISABLE_TELEMETRY = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"
